@page "/event-types"
@using EventPlanner.Models
@using EventPlanner.Data
@inject IJSRuntime JS
@inject EventTypeService eventTypeService
@inject NavigationManager NavigationManager
@inject AppState AppState
<Loading IsLoading="AppState.IsLoading" />

<div class="title-action">
    <MudText Typo="Typo.h2">Event Types</MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="New">New Event Type</MudButton>
</div>

@if (Types is null)
{
    <Loading IsLoading="true" />
}
else
{
    <MudTable Items="@Types" OnRowClick="Edit" T="EventType" Hover="true" Breakpoint="Breakpoint.Sm">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Delete" class="fit">
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Class="ma-2" @onclick="@(e => Delete(@context))"></MudIconButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

@code {
    IEnumerable<EventType> Types;

    protected override async Task OnInitializedAsync()
    {
        Types = await Task.Run(() => eventTypeService.GetAll());
    }

    async Task Delete(EventType evType)
    {
        bool confirmed = await JS.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            await AppState.RunAsync(async () =>
            {
                await eventTypeService.DeleteOne(evType);
                NavigationManager.NavigateTo("event-types", true);
            });
        }
    }

    protected void New()
        => NavigationManager.NavigateTo("event-type", true);

    private void Edit(TableRowClickEventArgs<EventType> args)
        => NavigationManager.NavigateTo("event-type/" + args.Item.Id, true);
}
