@page "/event/{Id}"
@using EventPlanner.Models
@using EventPlanner.Data
@using System.IO
@inject IJSRuntime JS
@inject EventService eventService
@inject EventTypeService eventTypeService
@inject PackageService packageService
@inject AttachmentService attachmentService
@inject NavigationManager NavigationManager

<div class="title-action">
    <MudText Typo="Typo.h2">Edit Event</MudText>
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Filled.Close" Color="Color.Transparent" OnClick="Cancel"> Cancel</MudButton>
</div>

@if (Types is null || Packages is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <EditForm Model="@obj" OnValidSubmit="Update">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="6">
                        <MudSelect T="EventType" Label="Type" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" ReadOnly="true" @bind-Value="obj.Type" For="@(() => obj.Type)">
                            @foreach (var et in Types)
                            {
                                <MudSelectItem Value="@et">@et.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="6">
                        <MudDatePicker Label="Date" Variant="Variant.Outlined" @bind-Date="obj.Date" For="@(() => obj.Date)" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudDatePicker Label="PreparationVenue" Variant="Variant.Outlined" @bind-Date="obj.PreparationVenue" For="@(() => obj.PreparationVenue)" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudTimePicker Label="PreparationTime" Variant="Variant.Outlined" @bind-Time="obj.PreparationTime" For="@(() => obj.PreparationTime)" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudDatePicker Label="ReceptionVenue" Variant="Variant.Outlined" @bind-Date="obj.ReceptionVenue" For="@(() => obj.ReceptionVenue)" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudTimePicker Label="ReceptionTime" Variant="Variant.Outlined" @bind-Time="obj.ReceptionTime" For="@(() => obj.ReceptionTime)" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField Label="Celebrant" Variant="Variant.Outlined" @bind-Value="obj.Celebrant" For="@(() => obj.Celebrant)" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudTextField Label="Address" Variant="Variant.Outlined" @bind-Value="obj.Address" For="@(() => obj.Address)" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudTextField Label="Mobile" Variant="Variant.Outlined" @bind-Value="obj.Mobile" For="@(() => obj.Mobile)" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudTextField Label="Email" Variant="Variant.Outlined" @bind-Value="obj.Email" For="@(() => obj.Email)" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudTextField Label="Social" Variant="Variant.Outlined" @bind-Value="obj.Social" For="@(() => obj.Social)" />
                    </MudItem>
                    <MudItem xs="4">
                        <MudSelect T="Package" Label="Package" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" @bind-Value="obj.Package" For="@(() => obj.Package)">
                            @foreach (var p in Packages)
                            {
                                <MudSelectItem Value="@p">@p.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="4">
                        <MudNumericField Label="PackagePrice" Adornment="Adornment.Start" AdornmentText="₱" HideSpinButtons="true" Format="N2" Variant="Variant.Outlined" @bind-Value="obj.PackagePrice" For="@(() => obj.PackagePrice)" />
                    </MudItem>
                    <MudItem xs="4">
                        <MudTextField Label="Notes" Variant="Variant.Outlined" @bind-Value="obj.Notes" For="@(() => obj.Notes)" />
                    </MudItem>
                    <MudItem xs="4">
                        <MudNumericField Label="DownPayment" Adornment="Adornment.Start" AdornmentText="₱" HideSpinButtons="true" Format="N2" Variant="Variant.Outlined" @bind-Value="obj.DownPayment" For="@(() => obj.DownPayment)" />
                    </MudItem>
                    <MudItem xs="4">
                        <MudNumericField Label="AdditionalCharges" Adornment="Adornment.Start" AdornmentText="₱" HideSpinButtons="true" Format="N2" Variant="Variant.Outlined" @bind-Value="obj.AdditionalCharges" For="@(() => obj.AdditionalCharges)" />
                    </MudItem>
                    <MudItem xs="4">
                        <MudNumericField Label="Balance" Adornment="Adornment.Start" AdornmentText="₱" HideSpinButtons="true" Format="N2" Variant="Variant.Outlined" @bind-Value="obj.Balance" For="@(() => obj.Balance)" />
                    </MudItem>
                    <MudItem xs="12">
                        <div class="title-action">
                            <MudText Typo="Typo.h4">Attachments</MudText>
                            <InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />
                            <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.CloudUpload" for="fileInput">Upload Files</MudButton>
                        </div>
                        @if (obj.Attachments != null)
                        {
                            <MudText Typo="@Typo.h6">@obj.Attachments.Count() File@(obj.Attachments.Count() == 1 ? "" : "s"):</MudText>
                            <MudList>
                                @foreach (var attachment in obj.Attachments)
                                {
                                    <MudListItem Icon="@Icons.Filled.AttachFile" @key="@attachment">
                                        <MudItem>
                                            @attachment.Name
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="@(e => DeleteAttachment(@attachment))"></MudIconButton>
                                            <MudIconButton Icon="@Icons.Material.Filled.Download" Color="Color.Primary" @onclick="@(e => DownloadAttachment(@attachment))"></MudIconButton>
                                        </MudItem>
                                    </MudListItem>
                                }
                            </MudList>
                        }
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Filled.Save" Class="ml-auto">Save</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
}

@code {
    [Parameter]
    public string Id { get; set; }
    Event obj = new Event();
    IEnumerable<EventType> Types = null;
    IEnumerable<Package> Packages = null;

    protected override async Task OnInitializedAsync()
    {
        Types = await Task.Run(() => eventTypeService.GetAll());
        Packages = await Task.Run(() => packageService.GetAll());
        obj = await Task.Run(() => eventService.GetOne(Guid.Parse(Id)));
    }

    protected async void Update()
    {
        await eventService.UpdateOne(obj);
        NavigationManager.NavigateTo("events");
    }

    void Cancel()
        => NavigationManager.NavigateTo("events");

    IList<IBrowserFile> files = new List<IBrowserFile>();
    async Task UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);
        }
        await attachmentService.UpdateFiles<Event>(obj.Id, files);
        files.Clear();
    }

    async Task DeleteAttachment(Attachment attachment)
        => await attachmentService.DeleteFile(attachment);

    async Task DownloadAttachment(Attachment attachment)
    {
        var fileStream = await attachmentService.GetFile(attachment);
        using var streamRef = new DotNetStreamReference(stream: fileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", attachment.Name, streamRef);
    }
}
